# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized

# **objectives:**
* list of popular languages of Data Scientists
* list of libraries in data science
* table of open source tools used in data science
* examples of evaluating arithmetic expressions in Python

## Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Java
5. Scala

## commonly used libraries in data science: 
1. TensorFlow2. NumPy
3. 
SciP
4. 
Paas
5. rn
PyTorch

## open source tools used in data science
| Data Science Tools | 
| -------------| 
| RStudio | 
| Apache Spark | 
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Inna Rozenberg